* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
.container {
  position: absolute;
  width: calc(100% - 400px);
}
.content {
  margin-top: 300px;
  /* opacity: .7; */
}
nav {
  position: absolute;
  width: 200px;
  margin-left: 150px;
  z-index: 10;
}

button {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;

  border: none;
  outline: none;
  background: none;

  color: white;
  font-size: 14px;
}
button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.7); 
  line-height: 50px;
  transition: transform 300ms;
}
button:nth-child(1)::before {
  content: "HOME";
}
button:nth-child(2)::before {
  content: "PROJECTS";
}
button:nth-child(3)::before {
  content: "CONTACT";
}
button:nth-child(4)::before {
  content: "ABOUT";
}
button:nth-child(5)::before {
  content: "HIRE ME";
}
button:hover::before {
  transform: translateX(-50px);
}

.mainBlock {
  position: absolute;
  height: 270px;
  width: 100%;
  min-width: 500px;
  margin-left: 355px;

  background: rgba(0,0,0,.7);
  padding: 2em 4em;

  color: white;
  font-size: 14px;
}

.topBlock {
  position: absolute;
  height: 90px;
  width: 80%;
  top: -90px;
  left: 70px;

  border: 2px solid rgba(0,0,0,.7);
  border-bottom: none;
  color: rgba(0,0,0,.7);
}

.topBlock > div {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 16px;
  text-align: center;
}

.bottomBlock {
  position: absolute;
  height: 70px;
  width: 80%;
  left: 70px;
  bottom: -70px;

  border: 2px solid rgba(0,0,0,.7);
  border-top: none;
  color: rgba(0,0,0,.7);
}
.bottomBlock > div {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 16px;
  text-align: center;
}

#canvas1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
